.footer {
    display: flex;
    background-color: #151515;
    padding: 1em 0;
    text-align: center;
    justify-content: center;
    color: white;
    min-height: 10vh;
    width: 100%;
    margin-top: auto; /* Empuja el footer hacia abajo */
}