.main-scrollable {
  position: relative;
  padding: 80px 0 90px; /* espacio para header y footer */
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background: var(--bg-gradient);
}

.contact-container {
  padding: 2rem;
  max-width: 600px;
   margin: 30px auto 0 auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
}

.contact-form button {
  padding: 0.8rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-msg {
  color: green;
  margin-top: 1rem;
  text-align: center;
}

.error-msg {
  color: red;
  margin-top: 1rem;
  text-align: center;
}
